version: '3'
services:
  db:
    image: mysql:5.7
    volumes:
      - "{{ wordpress_data_dir }}/mysql:/var/lib/mysql"
    restart: always
    environment:
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: "{{ mysql_password }}"
      MYSQL_RANDOM_ROOT_PASSWORD: '1'
    networks:
      - backend

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    volumes:
      - "{{ wordpress_data_dir }}/html:/var/www/html"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: "{{ mysql_password }}"
    ports:
      - "{{ wordpress_port }}:80"
    networks:
      - backend

networks:
  backend:
