<!DOCTYPE html>
<html>
    <head>
        <title>Tux the Pinguin!</title>
    </head>
    <body>
        <h1>Welcome to {{ hostname }}!!</h1>
        <h2>Aventuras no mundo do DevOps!</h2>
        <h2>Venha conhecer os Cursos da 4Linux e se surpreenda!!</h2>
<a href="https://4linux.com.br/"><h1>VISITE OS CURSOS 4LINUX!</h1></a>
    </body>
</html>
